*{
    margin:0px;
}
body{
    background-color:gray;
}
#main{
    position:relative;
    top:50vh;
    left:50vw;
    height:0px;
    width:0px;
}
#txt{
    width:1069px;
    text-align:center;
    transform:translate(-50%,-15vh);
    font-size:50px;
    font-weight:700;
}
#btn{
    background-color:rgb(168, 177, 50);
    width:150px;
    height:fit-content;
    padding-top:10px;
    padding-bottom: 10px;
    text-align:center;
    font-size:35px;
    transform:translate(-50%,-50%);
    -webkit-user-select: none;
}
#btn:hover{
    background-color:greenyellow;
}